### Basic Setup

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('/Users/eduardo/Desktop/AssetPricing/data.csv')
print(df.head())
print(df.describe())
print(df.columns)

                                  KEY FREQ REF_AREA CURRENCY PROVIDER_FM  \
0  YC.B.U2.EUR.4F.G_N_A.SV_C_YM.BETA0    B       U2      EUR          4F
1  YC.B.U2.EUR.4F.G_N_A.SV_C_YM.BETA0    B       U2      EUR          4F
2  YC.B.U2.EUR.4F.G_N_A.SV_C_YM.BETA0    B       U2      EUR          4F
3  YC.B.U2.EUR.4F.G_N_A.SV_C_YM.BETA0    B       U2      EUR          4F
4  YC.B.U2.EUR.4F.G_N_A.SV_C_YM.BETA0    B       U2      EUR          4F

  INSTRUMENT_FM PROVIDER_FM_ID DATA_TYPE_FM TIME_PERIOD  OBS_VALUE  ...  \
0         G_N_A        SV_C_YM        BETA0  2004-09-06   5.410510  ...
1         G_N_A        SV_C_YM        BETA0  2004-09-07   5.391886  ...
2         G_N_A        SV_C_YM        BETA0  2004-09-08   5.385978  ...
3         G_N_A        SV_C_YM        BETA0  2004-09-09   5.377333  ...
4         G_N_A        SV_C_YM        BETA0  2004-09-10   5.355732  ...

  UNIT_INDEX_BASE                                        COMPILATION  \
0             NaN  Technical notes are available at the following...
1             NaN  Technical notes are available at the following...
2             NaN  Technical notes are available at the following...
3             NaN  Technical notes are available at the following...
4             NaN  Technical notes are available at the following...

   COVERAGE  DECIMALS SOURCE_AGENCY  SOURCE_PUB  \
0       NaN         6           NaN         NaN
1       NaN         6           NaN         NaN
2       NaN         6           NaN         NaN
3       NaN         6           NaN         NaN
4       NaN         6           NaN         NaN

                                               TITLE  \
0  Yield curve parameters, Beta 0 - Government bo...
1  Yield curve parameters, Beta 0 - Government bo...
2  Yield curve parameters, Beta 0 - Government bo...
3  Yield curve parameters, Beta 0 - Government bo...
4  Yield curve parameters, Beta 0 - Government bo...

                                         TITLE_COMPL  UNIT  UNIT_MULT
0  Euro area (changing composition) - Government ...  PCPA          0
1  Euro area (changing composition) - Government ...  PCPA          0
2  Euro area (changing composition) - Government ...  PCPA          0
3  Euro area (changing composition) - Government ...  PCPA          0
4  Euro area (changing composition) - Government ...  PCPA          0

[5 rows x 40 columns]
          OBS_VALUE  OBS_PRE_BREAK  OBS_COM  BREAKS  COMPILING_ORG  DISS_ORG  \
count  5.626543e+06            0.0      0.0     0.0            0.0       0.0
mean   2.151399e+00            NaN      NaN     NaN            NaN       NaN
std    1.773036e+00            NaN      NaN     NaN            NaN       NaN
min   -3.646510e+01            NaN      NaN     NaN            NaN       NaN
25%    6.807735e-01            NaN      NaN     NaN            NaN       NaN
50%    2.302374e+00            NaN      NaN     NaN            NaN       NaN
75%    3.662737e+00            NaN      NaN     NaN            NaN       NaN
max    3.686295e+01            NaN      NaN     NaN            NaN       NaN

       DOM_SER_IDS  FM_CONTRACT_TIME  FM_COUPON_RATE  FM_IDENTIFIER  ...  \
count          0.0               0.0             0.0            0.0  ...
mean           NaN               NaN             NaN            NaN  ...
std            NaN               NaN             NaN            NaN  ...
min            NaN               NaN             NaN            NaN  ...
25%            NaN               NaN             NaN            NaN  ...
50%            NaN               NaN             NaN            NaN  ...
75%            NaN               NaN             NaN            NaN  ...
max            NaN               NaN             NaN            NaN  ...

       FM_PUT_CALL  FM_STRIKE_PRICE  PUBL_MU  PUBL_PUBLIC  UNIT_INDEX_BASE  \
count          0.0              0.0      0.0          0.0              0.0
mean           NaN              NaN      NaN          NaN              NaN
std            NaN              NaN      NaN          NaN              NaN
min            NaN              NaN      NaN          NaN              NaN
25%            NaN              NaN      NaN          NaN              NaN
50%            NaN              NaN      NaN          NaN              NaN
75%            NaN              NaN      NaN          NaN              NaN
max            NaN              NaN      NaN          NaN              NaN

       COVERAGE   DECIMALS  SOURCE_AGENCY  SOURCE_PUB  UNIT_MULT
count       0.0  5626543.0            0.0         0.0  5626543.0
mean        NaN        6.0            NaN         NaN        0.0
std         NaN        0.0            NaN         NaN        0.0
min         NaN        6.0            NaN         NaN        0.0
25%         NaN        6.0            NaN         NaN        0.0
50%         NaN        6.0            NaN         NaN        0.0
75%         NaN        6.0            NaN         NaN        0.0
max         NaN        6.0            NaN         NaN        0.0

[8 rows x 23 columns]
Index(['KEY', 'FREQ', 'REF_AREA', 'CURRENCY', 'PROVIDER_FM', 'INSTRUMENT_FM',
       'PROVIDER_FM_ID', 'DATA_TYPE_FM', 'TIME_PERIOD', 'OBS_VALUE',
       'OBS_STATUS', 'OBS_CONF', 'OBS_PRE_BREAK', 'OBS_COM', 'TIME_FORMAT',
       'BREAKS', 'COLLECTION', 'COMPILING_ORG', 'DISS_ORG', 'DOM_SER_IDS',
       'FM_CONTRACT_TIME', 'FM_COUPON_RATE', 'FM_IDENTIFIER', 'FM_LOT_SIZE',
       'FM_MATURITY', 'FM_OUTS_AMOUNT', 'FM_PUT_CALL', 'FM_STRIKE_PRICE',
       'PUBL_MU', 'PUBL_PUBLIC', 'UNIT_INDEX_BASE', 'COMPILATION', 'COVERAGE',
       'DECIMALS', 'SOURCE_AGENCY', 'SOURCE_PUB', 'TITLE', 'TITLE_COMPL',
       'UNIT', 'UNIT_MULT'],
      dtype='object')

### Convert `df` from long to wide and keep useful columns

In [4]:
# Parse dates
df["TIME_PERIOD"] = pd.to_datetime(df["TIME_PERIOD"])

# Keep only euro area government bond Svensson params (this matches your sample)
mask = (
    (df["REF_AREA"] == "U2") &          # euro area
    (df["CURRENCY"] == "EUR") &
    (df["PROVIDER_FM"] == "4F") &
    (df["INSTRUMENT_FM"] == "G_N_A") &
    (df["PROVIDER_FM_ID"] == "SV_C_YM")
)

df_yc = df.loc[mask, ["TIME_PERIOD", "DATA_TYPE_FM", "OBS_VALUE"]].copy()

# Pivot: rows = date, columns = parameter (BETA0, BETA1, BETA2, BETA3, TAU1, TAU2, etc.)
yc_params = df_yc.pivot_table(
    index="TIME_PERIOD",
    columns="DATA_TYPE_FM",
    values="OBS_VALUE"
).sort_index()

# Optional: keep only the main Svensson parameters if you want
needed_cols = ["BETA0", "BETA1", "BETA2", "BETA3", "TAU1", "TAU2"]
yc_params = yc_params[needed_cols]

yc_params.head()

DATA_TYPE_FM     BETA0     BETA1     BETA2     BETA3      TAU1      TAU2
TIME_PERIOD
2004-09-06    5.410510 -3.462358 -0.361335 -0.466368  3.128331  1.489535
2004-09-07    5.391886 -3.450353 -0.372908 -0.271295  3.157868  1.548566
2004-09-08    5.385978 -3.447950 -0.346505 -0.198077  3.137857  1.553148
2004-09-09    5.377333 -3.432592 -0.382208 -0.293482  3.271392  1.521143
2004-09-10    5.355732 -3.395283 -0.375382 -0.507894  3.279876  1.479197