In [40]:
import yfinance as yf

In [41]:
df = yf.download('DIVO11.SA')
print(df.head())
print(df.describe())

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open    Volume
Ticker      DIVO11.SA  DIVO11.SA  DIVO11.SA  DIVO11.SA DIVO11.SA
Date
2012-01-31  30.700001  30.860001  30.700001  30.860001       310
2012-02-01  31.230000  31.230000  31.120001  31.120001      1040
2012-02-02  31.250000  31.299999  31.230000  31.299999      2610
2012-02-03  31.540001  31.600000  31.400000  31.400000        70
2012-02-06  31.350000  31.480000  31.350000  31.480000       250
Price         Close         High          Low         Open        Volume
Ticker    DIVO11.SA    DIVO11.SA    DIVO11.SA    DIVO11.SA     DIVO11.SA
count   3412.000000  3412.000000  3412.000000  3412.000000  3.412000e+03
mean      54.035976    54.511747    53.622122    54.078479  4.270244e+04
std       23.890628    24.014691    23.774599    23.887460  1.346812e+05
min       17.290001    17.309999    16.990000    17.209999  1.000000e+01
25%       33.540001    33.810001    33.277499    33.560001  3.837500e+03
50%       47.225000    47.945000    46.830002    47.340000  9.565500e+03
75%       71.000000    71.674999    70.452497    71.002501  3.012250e+04
max      117.070000   117.430000   116.250000   116.480003  2.932247e+06

In [42]:
import pandas as pd
conso_x = pd.DataFrame()

list = ['BRL=X', '^GSPC', 'VWOB', 'GD=F', 'BTC-USD', '^FVX', '^TNX']

dfs = []

for t in list:
    ind = yf.download(t, start='2013-01-01')[['Close', 'Volume']]
    ind.columns = [f'{col}_{t}' for col in ind.columns]
    dfs.append(ind)

conso_x = pd.concat(dfs, axis=1)

print(conso_x.describe())

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

       ('Close', 'BRL=X')_BRL=X  ('Volume', 'BRL=X')_BRL=X  \
count               3365.000000                     3365.0
mean                   4.129069                        0.0
std                    1.187238                        0.0
min                    1.941900                        0.0
25%                    3.194700                        0.0
50%                    4.023600                        0.0
75%                    5.239800                        0.0
max                    6.300000                        0.0

       ('Close', '^GSPC')_^GSPC  ('Volume', '^GSPC')_^GSPC  \
count               3252.000000               3.252000e+03
mean                3313.578231               3.987149e+09
std                 1367.767393               9.925097e+08
min                 1457.150024               0.000000e+00
25%                 2100.384949               3.368838e+09
50%                 2884.015015               3.784720e+09
75%                 4287.637451               4.397460e+09
max                 6890.890137               9.976520e+09

       ('Close', 'VWOB')_VWOB  ('Volume', 'VWOB')_VWOB  \
count             3147.000000             3.147000e+03
mean                53.475680             2.436020e+05
std                  6.281340             3.497184e+05
min                 40.880070             1.800000e+03
25%                 48.391802             6.120000e+04
50%                 52.806732             1.437000e+05
75%                 59.076380             3.154500e+05
max                 67.739998             6.531400e+06

       ('Close', 'GD=F')_GD=F  ('Volume', 'GD=F')_GD=F  \
count             3242.000000              3242.000000
mean               496.417499               460.357804
std                115.056103               809.578876
min                230.300003                 0.000000
25%                398.549988                17.000000
50%                509.175003                97.000000
75%                584.400009               372.750000
max                834.500000              4396.000000

       ('Close', 'BTC-USD')_BTC-USD  ('Volume', 'BTC-USD')_BTC-USD  \
count                   4097.000000                   4.097000e+03
mean                   26441.173493                   2.148586e+10
std                    31353.010742                   2.284713e+10
min                      178.102997                   5.914570e+06
25%                     2608.719971                   1.207450e+09
50%                    10619.452148                   1.696940e+10
75%                    41626.195312                   3.289664e+10
max                   124752.531250                   3.509679e+11

       ('Close', '^FVX')_^FVX  ('Volume', '^FVX')_^FVX  \
count              3251.00000                   3251.0
mean                  2.20207                      0.0
std                   1.24177                      0.0
min                   0.19500                      0.0
25%                   1.34300                      0.0
50%                   1.75900                      0.0
75%                   3.39250                      0.0
max                   4.96100                      0.0

       ('Close', '^TNX')_^TNX  ('Volume', '^TNX')_^TNX
count             3251.000000                   3251.0
mean                 2.600741                      0.0
std                  1.050512                      0.0
min                  0.499000                      0.0
25%                  1.839500                      0.0
50%                  2.427000                      0.0
75%                  3.338500                      0.0
max                  4.988000                      0.0

In [43]:
conso_x.columns = [
    'usdbrl', 'usdbrl_vol',
    'sp500', 'sp500_vol',
    'vwob', 'vwob_vol',
    'gold', 'gold_vol',
    'btcusd', 'btcusd_vol',
    'tbill5', 'tbill5_vol',
    'tbond10', 'tbond10_vol'
]

In [45]:
data = pd.concat([conso_x, df], axis=1)
data.head()

,usdbrl,usdbrl_vol,sp500,sp500_vol,vwob,vwob_vol,gold,gold_vol,btcusd,btcusd_vol,tbill5,tbill5_vol,tbond10,tbond10_vol,"(Close, DIVO11.SA)","(High, DIVO11.SA)","(Low, DIVO11.SA)","(Open, DIVO11.SA)","(Volume, DIVO11.SA)"
Date,,,,,,,,,,,,,,,,,,,
2012-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.700001,30.860001,30.700001,30.860001,310.0
2012-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.230000,31.230000,31.120001,31.120001,1040.0
2012-02-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.250000,31.299999,31.230000,31.299999,2610.0
2012-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.540001,31.600000,31.400000,31.400000,70.0
2012-02-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.350000,31.480000,31.350000,31.480000,250.0

In [46]:
data.drop(columns=[
    ('Low', 'DIVO11.SA'),
    ('High', 'DIVO11.SA'),
    ('Open', 'DIVO11.SA')
], inplace=True)
data.columns

Index([               'usdbrl',            'usdbrl_vol',
                       'sp500',             'sp500_vol',
                        'vwob',              'vwob_vol',
                        'gold',              'gold_vol',
                      'btcusd',            'btcusd_vol',
                      'tbill5',            'tbill5_vol',
                     'tbond10',           'tbond10_vol',
        ('Close', 'DIVO11.SA'), ('Volume', 'DIVO11.SA')],
      dtype='object')

In [49]:
data.columns = [
    'usdbrl', 'usdbrl_vol',
    'sp500', 'sp500_vol',
    'vwob', 'vwob_vol',
    'gold', 'gold_vol',
    'btcusd', 'btcusd_vol',
    'tbill5', 'tbill5_vol',
    'tbond10', 'tbond10_vol',
    'divo11', 'divo11_vol',
]

In [52]:
data.drop(columns=['tbond10_vol', 'tbill5_vol', 'usdbrl_vol'
], inplace=True)
data.describe()

,usdbrl,sp500,sp500_vol,vwob,vwob_vol,gold,gold_vol,btcusd,btcusd_vol,tbill5,tbond10,divo11,divo11_vol
count,3365.000000,3252.000000,3.252000e+03,3147.000000,3.147000e+03,3242.000000,3242.000000,4097.000000,4.097000e+03,3251.00000,3251.000000,3412.000000,3.412000e+03
mean,4.129069,3313.578231,3.987149e+09,53.475680,2.436020e+05,496.417499,460.357804,26441.173493,2.148586e+10,2.20207,2.600741,54.035976,4.270244e+04
std,1.187238,1367.767393,9.925097e+08,6.281340,3.497184e+05,115.056103,809.578876,31353.010742,2.284713e+10,1.24177,1.050512,23.890628,1.346812e+05
min,1.941900,1457.150024,0.000000e+00,40.880070,1.800000e+03,230.300003,0.000000,178.102997,5.914570e+06,0.19500,0.499000,17.290001,1.000000e+01
25%,3.194700,2100.384949,3.368838e+09,48.391802,6.120000e+04,398.549988,17.000000,2608.719971,1.207450e+09,1.34300,1.839500,33.540001,3.837500e+03
50%,4.023600,2884.015015,3.784720e+09,52.806732,1.437000e+05,509.175003,97.000000,10619.452148,1.696940e+10,1.75900,2.427000,47.225000,9.565500e+03
75%,5.239800,4287.637451,4.397460e+09,59.076380,3.154500e+05,584.400009,372.750000,41626.195312,3.289664e+10,3.39250,3.338500,71.000000,3.012250e+04
max,6.300000,6890.890137,9.976520e+09,67.739998,6.531400e+06,834.500000,4396.000000,124752.531250,3.509679e+11,4.96100,4.988000,117.070000,2.932247e+06